{{ define "main" }}
<div class="container">
    <div class="content about">
        <div class="intro">
            <div class="intro-image">
                <img src="../pictures/headshot.jpeg" />
            </div>
            <div class="intro-content">
                <h2>Hi there!</h2>
                <p>
                    I am Aviral, an aspiring graphics and gameplay programmer from Los Angeles, USA. I am interested in the
                    technology behind the pretty games, and the rendering engines that are used to create those games.
                </p>

                <p>
                    I am always curious about the newest evolutions in the gaming industry, and love to analyze and
                    dissect the latest technologies. My love for game graphics, combined with a very strong interest in
                    game engines always drive me to improve my knowledge on low-level systems in game tech.
                </p>
            </div>
        </div>

        <h2>My Skills</h2>
        <div class="skills-container">
            <div class="skill-section">
                <h4>Programming Languages</h4>
                <ul>
                    <li>C++, C#, C</li>
                    <li>Python, Java, Go, JavaScript</li>
                    <li>Lua, Bash</li>
                </ul>
            </div>
            <div class="skill-section">
                <h4>Frameworks, Libraries &Aacute; APIs</h4>
                <ul>
                    <li>Vulkan, OpenGL</li>
                    <li>SDL, GLFW, CUDE</li>
                    <li>HLSL and GLSL shaders</li>
                </ul>
            </div>
            <div class="skill-section">
                <h4>Development Tools</h4>
                <ul>
                    <li>Unity, Unreal, Maya</li>
                    <li>Visual Studio, CLion</li>
                    <li>CMake, git, Perforce</li>

                </ul>
            </div>
        </div>

        <br />

        <h2>My Carreer</h2>
        <ul>
            <li>
                <p>
                    Jun 2019 - Dec 2019 // <b>Unity VR Engineering Intern</b> @
                    <i>
                        <a href="https://www.ita.gov.om/ITAPortal/Pages/Page.aspx?NID=994&PID=4185&LID=196" target="_blank">
                            Sas Centre for Virtual Reality
                        </a>
                    </i>
                </p>
                <ul>
                    <li>Created automation tools with Google Suite and Zapier to streamline workflow, thus saving 50 hours of staff time.</li>
                    <li>Developed a virtual reality training simulation to train heavy crane operators at shipping ports.</li>
                    <li>Worked with Oculus SDK for Unity to build an application for Oculus Quest with six degrees of freedom.</li>
                </ul>
            </li>
        </ul>

        <br />

        <h2>My Education</h2>

        <div>
            <div class="education-item">
                <div class="education-year">
                    <p>2022 - 2024</p>
                </div>
                <div class="education-description">
                    <p>
                        <b>Master's in Science in Computer Science - Game Development</b><br />
                        <i>
                            <a href="https://www.cs.usc.edu/academic-programs/masters/game-development/" target="_blank">University of Southern California</a
                            >, Los Angeles, USA
                        </i>
                    </p>
                </div>
            </div>
            <div class="education-item">
                <div class="education-year">
                    <p>2016 - 2020</p>
                </div>
                <div class="education-description">
                    <p>
                        <b>Bachelor's in Engineering - Computer Science'</b><br />
                        <i>
                            <a href="https://www.bitmesra.ac.in/" target="_blank">Birla Institute of Technology, Mesra</a>, Ranchi, India
                        </i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
