{{ define "main" }}
<div class="container">
    <div class="content about">
        <div class="intro">
            <div class="intro-image">
                <img src="https://cdn.seppedekeyser.be/img/pic_face.jpg" />
            </div>
            <div class="intro-content">
                <h2>Hi there!</h2>
                <p>
                    I am Seppe Dekeyser, an aspiring engine and render programmer from Leuven, Belgium. I am interested in the
                    technology behind the pretty games, and the game engines that are used to create those games.
                </p>

                <p>
                    I am always curious about the newest evolutions in the gaming industry, and love to analyze and
                    dissect the latest technologies. My love for game graphics, combined with a very strong interest in
                    game engines always drive me to improve my knowledge on low-level systems in game tech.
                </p>
            </div>
        </div>

        <h2>My Skills</h2>
        <div class="skills-container">
            <div class="skill-section">
                <h4>Game Development</h4>
                <ul>
                    <li>C++, C#, Rust</li>
                    <li>Unity, Unreal</li>
                    <li>Git, Perforce</li>
                    <li>Blender, Photoshop</li>
                </ul>
            </div>
            <div class="skill-section">
                <h4>Graphics Programming</h4>
                <ul>
                    <li>Vulkan, DirectX</li>
                    <li>Vulkan & DirectX Ray Tracing</li>
                    <li>HLSL and GLSL shaders</li>
                </ul>
            </div>
            <div class="skill-section">
                <h4>Web Development</h4>
                <ul>
                    <li>Svelte, TypeScript</li>
                    <li>GraphQL</li>
                    <li>UI/UX design</li>
                </ul>
            </div>
        </div>

        <br />

        <h2>My Carreer</h2>
        <ul>
            <li>
                <p>
                    Jul 2021 - Present // <b>Frontend Developer</b> @
                    <i><a href="https://edu-tech.be" target="_blank">Edu-Tech</a> (BE)</i>
                </p>
                <ul>
                    <li>
                        Designing and creating modules for the frontend website of a brand-new LMS (Learning Management
                        System) platform for schools
                    </li>
                    <li>Creating new, reusable components to be used throughout the entire codebase</li>
                    <li>Occasionally helping out with bugs and features in our C# GraphQL backend</li>
                </ul>
            </li>
            <li>
                <p>
                    Feb 2021 - Jun 2021 // <b>R&D Rendering Engineer Intern</b> @
                    <i>
                        <a href="https://digitalartsandentertainment.be/page/133/Research" target="_blank">
                            Howest DAE Research
                        </a>
                        (BE)
                    </i>
                </p>
                <ul>
                    <li>Researching DirectX 12 and the DirectX Raytracing API</li>
                    <li>Researching and implementing DXR and Adaptive Sampling in a real-time DirectX 12 framework</li>
                    <li>Profiling C++ and HLSL code, both on the CPU and GPU</li>
                    <li>Documenting the resulting implementation and results</li>
                </ul>
            </li>
        </ul>

        <br />

        <h2>My Education</h2>

        <div>
            <div class="education-item">
                <div class="education-year">
                    <p>2017 - 2021</p>
                </div>
                <div class="education-description">
                    <p>
                        <b>Bachelor's Degree in Game Development in Digital Arts and Entertainment</b><br />
                        <i>
                            <a href="https://www.howest.be/en" target="_blank">Howest University of Applied Sciences</a
                            >, Kortrijk (BE)
                        </i>
                    </p>
                </div>
            </div>
            <div class="education-item">
                <div class="education-year">
                    <p>2015 - 2017</p>
                </div>
                <div class="education-description">
                    <p>
                        <b>High School Degree in IT Management</b><br />
                        <i>
                            <a href="https://miniemeninstituut.be/" target="_blank">Miniemeninstituut</a>, Leuven (BE)
                        </i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
