{{ $isArticle := and (.IsPage) (ne .Page.Type "about-me") }}

<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />

<!-- OpenGraph -->
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta property="og:type" content="{{ if $isArticle }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />

{{ if $isArticle }}
<meta property="og:image" content="{{ .Params.Cover }}" />
{{ else }}
<meta property="og:image" content="https://cdn.seppedekeyser.be/img/pic_face.jpg" />
{{ end }}

<!-- Twitter card -->
{{ if $isArticle }}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content="{{ .Params.Cover }}" />
{{ else }}
<meta name="twitter:card" content="summary" />
<meta name="twitter:image" content="https://cdn.seppedekeyser.be/img/pic_face.jpg" />
{{ end }}
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>
<meta name="twitter:site" content="@{{ .Site.Params.Twitter.Creator }}" />
